main {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}

.logo {
  text-align: center;
  font-family: Shrikhand, sans-serif;
  margin-top: 0;
  padding: 1rem;
  -webkit-box-shadow: 0px 5px 3px lightgrey;
          box-shadow: 0px 5px 3px lightgrey;
}

.location {
  text-align: center;
  background-color: #f3f3f3;
  margin-top: -1rem;
  padding: 1rem;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .location {
    text-align: right;
  }
}

.titlezone {
  background-color: #fafafa;
  padding: 1rem;
}

.title {
  text-align: center;
}

.more {
  color: #fff;
  font-weight: bold;
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 15rem;
  height: 3.2rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  opacity: 0.9;
}

@media (min-width: 700px) {
  .title-function {
    text-align: center;
  }
}

.function-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 990px) {
  .function-tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 700px) {
  .function-tools {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

ol {
  list-style-type: none;
  counter-reset: section;
}

li::before {
  counter-increment: section;
  content: counter(section);
  color: #fff;
  background-color: #9356DC;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  border-radius: 50%;
  margin-left: -2.1rem;
  margin-right: 2rem;
}

.function-tools .fas {
  color: #7e7e7e;
}

.function-tools li {
  background-color: #f3f3f3;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 3px 3px 10px #dedada;
          box-shadow: 3px 3px 10px #dedada;
  cursor: pointer;
}

.function-tools li:hover {
  background: #fcb8e9;
  background: linear-gradient #9356DC;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.restaurant-main {
  margin-top: 4rem;
  background-color: #fafafa;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrarp;
      flex-wrap: wrarp;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.restaurant-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #0000007a;
          box-shadow: 0px 0px 10px #0000007a;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
}

.img-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

footer {
  background-color: #000;
}
/*# sourceMappingURL=Ohmyfood.css.map */